@model List<MusicStore.Models.Artist>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var artist in Model)
            {
                <div class="row">
                    @artist.ArtistId
                    @artist.Name
                </div>
    }

    </div>