@model List<MusicStore.Models.Artist>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table table-bordered">
        <tr class="active">
            <td>S. N</td>
            <td>Name</td>
        </tr>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.ArtistId</td>
                <td>@artist.Name</td>
            </tr>
        }
    </table>
</div>